@use 'src/styles/partials/variables' as *;
@use 'src/styles/partials/mixins' as *;

.Typewriter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  width: 100%;

  @include tablet {
    font-size: 3rem;
  }

  @include desktop {
    font-size: 4rem;
  }
}
