@use "/src/styles/partials/fonts" as *;
@use "src/styles/partials/mixins" as *;
@use "src/styles//partials/variables" as *;

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(231, 231, 238);
  width: 100%;
  // padding: 5rem 0rem;
  gap: 2rem;

  @include tablet {
    // padding-top: 5rem;
  }

  @include desktop {
    // gap: 12rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    gap: 2rem;

    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 80%;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 80%;
    padding: 3rem 0rem;
  }

  &__emoji {
    font-size: 1.5rem;
  }

  &__grammar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(47, 48, 58);
    border-radius: 0.8rem;
    text-decoration: none;
    color: rgb(231, 231, 238);
    width: 100%;

    @include tablet {
      width: 60%;
    }

    @include desktop {
      width: 30%;
    }
    &:hover {
      border: 1px solid 121212;

      @include desktop {
        border-radius: 0.8rem;
        filter: drop-shadow(2px 2px 10px #000);
      }
    }
  }

  &__captions {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(47, 48, 58);
    border-radius: 0.8rem;
    text-decoration: none;
    color: rgb(231, 231, 238);
    width: 100%;
    @include tablet {
      width: 60%;
    }

    @include desktop {
      width: 30%;
    }

    &:hover {
      border: 1px solid 121212;
      @include desktop {
        border-radius: 0.8rem;
        filter: drop-shadow(2px 2px 10px #000);
      }
    }
  }

  &__title {
    font-size: 1.125rem;
  }

  &__description {
    font-size: 0.875rem;
    color: rgb(231, 231, 238);
  }
}

.Typewriter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  font-family: Circular Std, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  width: 80%;

  @include tablet {
    font-size: 2rem;
  }

  @include desktop {
    font-size: 3rem;
  }
}
