@use "/src/styles/partials/fonts" as *;
@use "src/styles/partials/mixins" as *;
@use "src/styles//partials/variables" as *;

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(231, 231, 238);
  width: 100%;
  padding: 5rem 0rem;

  @include tablet {
    padding-top: 5rem;
  }


  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    gap: 2rem;

    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 80%;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 80%;
    padding: 3rem 0rem;
  }

  &__grammar {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(47, 48, 58);
    border-radius: 0.8rem;
    text-decoration: none;
    color: rgb(231, 231, 238);

    width: 100%;

    @include tablet {
      width: 40%;
    }

    @include desktop {
      width: 30%;

    }
    &:hover {
      border: 1px solid grey;
    }
  }

  &__captions {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(47, 48, 58);
    border-radius: 0.8rem;
    text-decoration: none;
    color: rgb(231, 231, 238);
    width: 100%;

    @include tablet {
      width: 40%;
    }

    @include desktop {
      width: 30%;
    }

    &:hover {
      border: 1px solid grey;
    }
  }

  &__title {
    font-size: 1.125rem;
  }

  &__description {
    font-size: 0.875rem;
    color: rgb(231, 231, 238);
  }
}
