@use "/src/styles/partials/fonts" as *;
@use "src/styles/partials/mixins" as *;
@use "src/styles//partials/variables" as *;

.captions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}