@use "/src/styles/partials/fonts" as *;
@use "src/styles/partials/mixins" as *;
@use "src/styles//partials/variables" as *;

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    padding: 1rem 0rem;
  }

  &__img {
    width: 2.5rem;
  }
}
