@use "/src/styles/partials/fonts" as *;
@use "src/styles/partials/mixins" as *;
@use "src/styles//partials/variables" as *;

.fix-grammar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 4rem;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
  }

  &__input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.35rem;
    border: none;
    width: 100%;
    height: 100%;
    // border-radius: 10px;
    background-color: rgb(49, 49, 62);
    color: white;
    font-size: 1rem;
    overflow: hidden;
    height: 12rem;
    // resize: none;
  }

  &__button {
    padding: 1rem 4rem;
    background-color: #121212;
    color: white;

    transition: 800ms;
    border: 2px solid #121212;

    &:hover {
      transition: 800ms;
      border: 5px solid #121212;
      font-size: 1rem;
    }
  }

  &__lottie {
    width: 15rem;
  }

  &__result {
    padding-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
  }
}
