@use "/src/styles/partials/fonts" as *;
@use "src/styles/partials/mixins" as *;
@use "src/styles//partials/variables" as *;

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &__github {
    width: 2rem;
    cursor: pointer;
  }

  &__linkedin {
    width: 2rem;
    cursor: pointer;
  }
}
